# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
../api-gateway/target
../booking-service/target
../customer-service/target
../hotel-service/target
../user-service/target
../vehicle-service/target
